<app-header></app-header>
<div class="md:grid md:grid-cols-6 md:px-32 my-5">
    <div class="hidden md:block md:col-span-2"><app-dashboard-coiffeuse></app-dashboard-coiffeuse></div>
    <div class="md:col-span-4 flex flex-col items-center space-y-5">
        <div class="text-2xl text-pink-500">Se déconnecter</div>
        <div class="">Souhaitez-vous vous déconnecter de votre compte?</div>
        <div class="flex space-x-5">
            <div class="">
                <button class="bg-white text-pink-500 h-10 w-36 rounded-lg uppercase border-pink-500 border-2"(click)="deconnect()">confirmer</button>
            </div>
            <div class="">
                <button class="text-white bg-pink-500 h-10 w-36 rounded-lg uppercase" routerLink="/coiffeuse">anuuler</button>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>