<app-header></app-header>
<div class="md:grid md:grid-cols-6 md:px-32 my-5">
    <div class="hidden md:block md:col-span-2"><app-dashboard-coiffeuse></app-dashboard-coiffeuse></div>
    <div class="md:col-span-4">
        <div class="flex justify-center flex-col items-center space-y-5 px-5">
            <div class="text-pink-500 text-xl">Mes prestations</div>
            <div class="text-center">Vous pouvez ajouter une nouvelle prestation à tout moment.</div>
            <div class="flex items-center w-96 space-x-5" *ngFor="let item of items">
                <div class="border-2 h-10 w-full pr-5 rounded-lg flex items-center">
                    <div class="bg-yellow-500 w-3 h-full rounded-l-lg mr-2"></div>
                    <div class="text-pink-500 uppercase">{{item.nom}}</div>
                    <div class="flex justify-end">
                        <div class="bg-yellow-500 bg-opacity-40 rounded-lg p-1">{{item.prix}}</div>
                    </div>
                </div>
                <div class="cursor-pointer w-2/12" (click)="remove(item._id)">
                    <img src="assets/poubel.svg" alt="" class="">
                </div>
            </div>
            <div class="">
                <button class="uppercase bg-pink-500 text-white rounded-lg h-10 w-72 md:w-96"(click)="openModal()">ajouter une prestation</button>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>