<div class="flex flex-col space-y-5 md:grid grid-cols-3 px-10 bg-pink-500 items-center">
    <div class="flex flex-col items-center">
        <div class="">
            <img src="assets/bigoodee.svg" alt="" class="w-32">
        </div>
        <div class="text-white">
            <div class=""><span class="font-medium">Decouvrez et reservez</span> la coiffeuse</div>
            <div class="">qui vous correspond, en quelques clics !</div>
        </div>
    </div>
    <div class="text-white text-center md:justify-start md:items-center md:flex flex-col">
        <div class="mb-2">Qui nous sommes ?</div>
        <div class="">FAQ</div>
        <div class="">CGU</div>
        <div class="">Guide de coiffures des BFC</div>
        <div class="">Mentions légales</div>
        <div class="">Merci pour elle</div>
        <div class="">Qui nous sommes ?</div>
        <div class="">Nous contacter</div>
        <div class="">Plan du site</div>
    </div>
    <div class="text-white flex flex-col items-center space-y-5">
        <div class="">Rejoins-nous</div>
        <div class="flex space-x-10">
            <div class=""><img src="assets/facebook.svg" alt="" class=""></div>
            <div class=""><img src="assets/insta.svg" alt="" class=""></div>
        </div>
    </div>
</div>
