<app-header></app-header>
<div class="md:grid md:grid-cols-6 md:px-32 my-5">
    <div class="hidden md:block md:col-span-2"><app-dashboard-coiffeuse></app-dashboard-coiffeuse></div>
    <div class="md:col-span-4">
        <div class="flex flex-col items-center space-y-5 md:w-full">
            <div class="text-pink-500 text-2xl">Ma galerie</div>
            <div class="text-center">Vous pouvez ajouter une image à votre galerie à tout moment.</div>
            <div class="w-96 md:w-full">
                <ngx-slick-carousel class="" 
                        #slickModal="slick-carousel" 
                        [config]="slideConfig" 
                        (init)="slickInit($event)"
                        (breakpoint)="breakpoint($event)"
                        (afterChange)="afterChange($event)"
                        (beforeChange)="beforeChange($event)"
                >
                    <div ngxSlickItem class="relative z-50 mr-5 mt-2" *ngFor="let slide of slides">
                        <div class="border-2">
                            <img [src]="slide.nom" alt="" class="w-32 h-32">
                        </div>
                        <div class="absolute z-50 -top-2 right-0 cursor-pointer" (click)="openModal(slide._id)">
                            <img src="assets/poubelle.svg" alt="" class="">
                        </div>
                    </div>
                </ngx-slick-carousel>
            </div>
            <div class="">
                <input type="file" (change)="upload($event)" name="" id="photo" class="hidden">
                <label for="photo" class="bg-pink-500 text-white uppercase p-4 rounded-lg cursor-pointer">
                    ajouter une photo
                </label>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
