<div class="hidden md:block">
    <div class="bg-pink-500 flex items-center justify-between w-full px-10">
        <div class="">
            <img src="assets/bigoodee.svg" alt="" class="w-32">
        </div>
        <div class="flex flex-col uppercase text-white items-end space-y-5">
            <div class="font-medium"><a routerLink="/connexion">se connecter</a></div>
            <div class="">
                <ul class="flex flex-row space-x-5">
                    <li class="font-medium"><a routerLink="/coiffeuse-acceuil">devenir coiffeuse</a></li>
                    <li><a href="">boutique</a></li>
                    <li><a href="">nos coiffures</a></li>
                    <li><a href="">ou nous trouver ?</a></li>
                    <li><a href="">besoin d'aide ?</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="border-t-8 border-pink-500 mt-5"></div>
</div>

<!-- responsive -->

<div class="md:hidden bg-pink-500 flex items-center justify-between px-5 h-20">
    <button class="text-white">
        <mat-icon class="mat-18">arrow_back</mat-icon>
    </button>
    <button>
        <img src="assets/bigoodee.svg" alt="" class="w-32 pt-5">
    </button>
    <button class="text-white">
        <mat-icon class="mat-18">menu</mat-icon>
    </button>
</div>
