<div class="hidden md:block">
    <div class="bg-pink-500 flex items-center justify-between w-full px-10">
        <div class="" routerLink="/">
            <img src="assets/bigoodee.svg" alt="" class="w-32">
        </div>
        <div class="flex flex-col uppercase text-white items-end space-y-5">
            <div class="font-medium"><a routerLink="/connexion" *ngIf="!verifyToken">se connecter</a></div>
            <div class="bg-white flex justify-center space-x-2 p-2 rounded-lg items-center" *ngIf="verifyToken">
                <div class="">
                    <img src="assets/default_pp.svg" alt="" class="">
                </div>
                <div class="text-pink-500">{{prenom}}</div>
                <div class="cursor-pointer" (click)="menu = !menu">
                    <mat-icon class="mat-18 text-pink-500">keyboard_arrow_down</mat-icon>
                </div>
            </div>
            <div class="">
                <ul class="flex flex-row space-x-5 mb-2">
                    <li class="font-medium"><a routerLink="/coiffeuse">devenir coiffeuse</a></li>
                    <li><a href="">boutique</a></li>
                    <li><a href="">nos coiffures</a></li>
                    <li><a href="">ou nous trouver ?</a></li>
                    <li><a href="">besoin d'aide ?</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="border-t-8 border-pink-500 mt-5"></div>
</div>

<!-- responsive -->

<div class="md:hidden bg-pink-500 flex items-center justify-between px-5 h-20">
    <button class="text-white">
        <mat-icon class="mat-18">arrow_back</mat-icon>
    </button>
    <button routerLink="/">
        <img src="assets/bigoodee.svg" alt="" class="w-32 pt-5">
    </button>
    <button class="text-white" (click)="menu = !menu">
        <mat-icon class="mat-18">menu</mat-icon>
    </button>
</div>

<div class="flex justify-center overflow-scroll md:w-32" *ngIf="menu">
    <div class="absolute z-50 bg-white rounded-lg py-2 md:w-48 md:right-5 md:top-10 s" [ngClass]="verifyToken ? 'top-5':'top-10'">
        <div class="flex flex-col space-y-5" *ngIf="verifyToken && role == 'coiffeuse'">
            <div class="bg-white flex justify-between px-10 items-center">
                <div class="">
                    <img src="assets/default_pp.svg" alt="" class="">
                </div>
                <div class="text-pink-500">{{prenom}}</div>
                <div class="cursor-pointer" (click)="menu = !menu">
                    <mat-icon class="mat-18 text-pink-500">keyboard_arrow_down</mat-icon>
                </div>
            </div>
            <div class="border-t-2 border-pink-500 my-2"></div>
            <div class="flex space-x-5 items-center pl-10 cursor-pointer" *ngFor="let item of items" routerLink="{{item.to}}" (click)="menu = !menu">
                <div class="">
                    <img [src]="item.img" alt="" class="">
                </div>
                <div class="">{{item.title}}</div>
            </div>
            <div class="border-t-2 border-pink-500 my-5"></div>
            <div class="pl-10">
                <button class="text-pink-500 uppercase h-10 flex items-center text-center space-x-2" routerLink="/déconnection">
                    <div class="">
                        <img src="assets/deconnection.svg" alt="" class="">
                    </div>
                    <div>se déconnecter</div>
                </button>
            </div>
        </div>
        <div class="flex flex-col space-y-5" *ngIf="verifyToken">
            <div class="-space-y-5">
                <div class="flex justify-end items-end pr-2 cursor-pointer"(click)="menu = !menu">
                    <mat-icon size="small" class="mat-10">close</mat-icon>
                </div>
                <div class="flex justify-center"><img src="assets/avatar.svg" alt=""></div>
            </div>
            <div class="border-t-2 border-pink-500 my-2"></div>
            <div class="flex space-x-5 items-center pl-10 cursor-pointer" *ngFor="let item of items2" routerLink="{{item.to}}" (click)="menu = !menu">
                <div class="">
                    <img [src]="item.img" alt="" class="">
                </div>
                <div class="">{{item.title}}</div>
                
            </div>
            <div class="pl-10">
                <div class="bg-pink-500 tesxt-white uppercase flex justify-center space-x-2 h-10 cursor-pointer pt-2" routerLink="/coiffeuse">
                    <div class="">
                        <img src="assets/coiffeuse.svg" alt="" class="">
                    </div>
                    <div class="">devenir coiffeuse</div>
                </div>
            </div>
            <div class="border-t-2 border-pink-500 my-5"></div>
            <div class="pl-10">
                <button class="text-pink-500 uppercase h-10 flex items-center text-center space-x-2" routerLink="/déconnection">
                    <div class="">
                        <img src="assets/deconnection.svg" alt="" class="">
                    </div>
                    <div>se déconnecter</div>
                </button>
            </div>
        </div>
        <div class="uppercase text-pink-500 pl-10 h-10 pt-3" *ngIf="!verifyToken" routerLink="/connexion" (click)="menu=!menu">Se connecter</div>
    </div>
</div>
