<app-header></app-header>
<div class="text-gray-500 md:px-32">
    <div class="flex justify-between items-center justify-cente relative mb-10">
        <div class="hidden relative mt-20 md:block">
            <img src="assets/post1.svg" alt="" class="">
        </div>
        <div class="w-96 border-2 p-5 space-y-5 md:z-0 md:r">
            <div class="text-pink-500 text-center text-lg">Inscription</div>
            <form action="" [formGroup]="registerForm" (ngSubmit)="signUp()">
                <div class="space-y-5">
                    <div class="">
                        <mat-error>{{message}}</mat-error>
                        <mat-form-field appearance="outline" class="w-full cursor-pointer" color="primary">
                            <mat-icon matPrefix class="mat-18 mr-2"><img src="assets/contact.svg" alt="" class=""></mat-icon>
                            <mat-label>Nom</mat-label>
                            <input matInput type="text" placeholder="Placeholder" formControlName="nom">
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="w-full cursor-pointer" color="primary">
                            <mat-icon matPrefix class="mat-18 mr-2"><img src="assets/contact.svg" alt="" class=""></mat-icon>
                            <mat-label>Prénom</mat-label>
                            <input matInput type="text" placeholder="Placeholder" formControlName="prenom">
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="w-full cursor-pointer" color="primary">
                            <mat-icon matPrefix class="mat-18 mr-2"><img src="assets/email.svg" alt="" class=""></mat-icon>
                            <mat-label>*Email</mat-label>
                            <input matInput type="email" placeholder="Placeholder" formControlName="email">
                        </mat-form-field>
                        <mat-error class="text-red-900" *ngIf="registerForm.get('email')?.errors?.['email']">
                            <p>Format invalid</p>
                        </mat-error>
                        <mat-form-field appearance="outline" class="w-full cursor-pointer" color="primary">
                            <mat-icon matPrefix class="mat-18 mr-2"><img src="assets/ville.svg" alt="" class=""></mat-icon>
                            <mat-label>Ville</mat-label>
                            <input matInput type="text" placeholder="Placeholder" formControlName="ville">
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="w-full cursor-pointer" color="primary">
                            <mat-icon matPrefix class="mat-18 mr-2"><img src="assets/tel.svg" alt="" class=""></mat-icon>
                            <mat-label>Téléphone</mat-label>
                            <input matInput type="tel" placeholder="Placeholder" formControlName="tel">
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="w-full cursor-pointer" color="primary">
                            <mat-icon matPrefix class="mat-18 mr-2"><img src="assets/key.svg" alt="" class=""></mat-icon>
                            <mat-label>Mot de passe</mat-label>
                            <input matInput [type]="showPassword ? 'text':'password'" placeholder="Placeholder" formControlName="pwd">
                            <mat-icon class="text-pink-500" matSuffix (click)="showPassword = !showPassword"><img src="assets/eye.svg" alt="" class=""></mat-icon>
                        </mat-form-field>
                        <mat-error class="text-red-900" *ngIf="registerForm.get('pwd')?.errors?.['minlength']">
                            <p>Entrer au minimum 6 caracteres</p>
                        </mat-error>
                        <mat-form-field appearance="outline" class="w-full cursor-pointer" color="primary">
                            <mat-icon matPrefix class="mat-18 mr-2"><img src="assets/key.svg" alt="" class=""></mat-icon>
                            <mat-label>Confirmer mot de passe</mat-label>
                            <input matInput [type]="showPassword ? 'text':'password'" placeholder="Placeholder">
                            <mat-icon mat-button class="text-pink-500" matSuffix (click)="showPassword = !showPassword"><img src="assets/eye.svg" alt="" class=""></mat-icon>
                        </mat-form-field>
                        <mat-hint>
                            Hint text
                        </mat-hint>
                    </div>
                    <div class="flex space-x-2">
                        <input type="checkbox" name="" id="">
                        <div class="text-xs">J'ai lu et j'accepte les conditions d’utilisations de beauteadoom</div>
                    </div>
                    <mat-error class="text-red-900" *ngIf="!registerForm.valid && registerForm.touched">
                        <p>Veuillez remplir correctement les champs</p>
                    </mat-error>
                    <div class="">
                        <button type="submit" class="bg-pink-500 text-white uppercase rounded-lg w-full h-10">s'inscrire</button>
                    </div>
                    <div class="">
                        <fieldset class="" style="border-top-width:1px"><legend class="italic text-center px-3">ou</legend></fieldset>
                    </div>
                    <p class="text-center text-xs">Créer votre compte avec</p>
                    <div class="">
                        <button type="submit" class="text-white w-full h-10 rounded-lg uppercase" style="background-color: #2D88FF;">facebook</button>
                    </div>
                    <div class="text-sm flex space-x-2 text-center" routerLink="/connexion">
                        <div class="">Vous avez déjà un compte ?</div>
                        <a class="text-pink-500">Se connecter</a>
                    </div>
                </div>
            </form>
        </div>
        <div class="hidden z-50 relative md:block">
            <img src="assets/post2.svg" alt="" class="">
        </div>
        <div class="hidden absolute opacity- bottom-72 -left-14 md:bloc">
            <img src="assets/lines.svg" alt="" class="">
        </div>
    </div>
</div>
<app-footer></app-footer>
