@use "@angular/material" as mat;
@include mat.core();
// @import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$primary-palette: (
  50: #fddbe6,
  100: #f8bfdf,
  200: #f589a9,
  300: #f7799f,
  400: #f85989,
  500: #ff3e79,
  600: #be2c58,
  700: #c71c4f,
  800: #b40a3d,
  900: #8d022c,
  contrast:
    (
      50: rgba(black, 0.87),
      100: rgba(black, 0.87),
      200: rgba(black, 0.87),
      300: rgba(black, 0.87),
      400: rgba(black, 0.87),
      500: rgba(black, 0.87),
      600: white,
      700: white,
      800: white,
      900: white,
    ),
);

$bigoodee-primary: mat.define-palette($primary-palette);
$bigoodee-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$bigoodee-warn: mat.define-palette(mat.$red-palette);

$bigoodee-theme: mat.define-light-theme(
  (
    color: (
      primary: $bigoodee-primary,
      accent: $bigoodee-accent,
      warn: $bigoodee-warn,
    ),
  )
);

@include mat.all-component-themes($bigoodee-theme);

@tailwind base;
@tailwind components;
@tailwind utilities;
