<app-header></app-header>
<div class="text-gray-500 md:px-32 px-5 mt-5">
    <div class="flex justify-between items-center justify-cente relative mb-10">
        <div class="hidden relative mt-20 md:block">
            <img src="assets/post1.svg" alt="" class="">
        </div>
        <div class="w-96 border-2 p-5 space-y-5 md:z-0 md:r">
            <div class="text-pink-500 text-center text-lg">Connexion</div>
            <form action="" [formGroup]="loginGroup" (ngSubmit)="signIn()">
                <div class="space-y-5">
                    <div class="">
                        <mat-form-field appearance="outline" class="w-full cursor-pointer" color="primary">
                            <mat-icon matPrefix class="mat-18 mr-2"><img src="assets/email.svg" alt="" class=""></mat-icon>
                            <mat-label>*Email</mat-label>
                            <input matInput type="email" placeholder="Placeholder" formControlName="email">
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="w-full cursor-pointer" color="primary">
                            <mat-icon matPrefix class="mat-18 mr-2"><img src="assets/key.svg" alt="" class=""></mat-icon>
                            <mat-label>Mot de passe</mat-label>
                            <input matInput [type]="showPassword ? 'text':'password'" placeholder="Placeholder" formControlName="pwd">
                            <mat-icon class="text-pink-500" matSuffix (click)="showPassword = !showPassword"><img src="assets/eye.svg" alt="" class=""></mat-icon>
                        </mat-form-field>
                        <!-- <mat-hint>
                            Hint text
                        </mat-hint> -->
                    </div>
                    <div class="flex justify-end">
                        <button class="text-pink-500 text-sm">Mot de passe oublié</button>
                    </div>
                    <div class="">
                        <button type="submit" class="bg-pink-500 text-white uppercase rounded-lg w-full h-10">Se connecter</button>
                    </div>
                    <div class="px-5">
                        <fieldset class="" style="border-top-width:1px"><legend class="italic text-center px-3">ou</legend></fieldset>
                    </div>
                    <p class="text-center text-xs">Se connecter avec</p>
                    <div class="">
                        <button class="text-white w-full h-10 rounded-lg uppercase" style="background-color: #2D88FF;">facebook</button>
                    </div>
                    <div class="text-sm flex space-x-2 text-center">
                        <div class="text-center">Vous n'avez pas un compte ?</div>
                        <a class="text-pink-500 text-center">S'inscrire</a>
                    </div>
                </div>
            </form>
        </div>
        <div class="hidden z-50 relative md:block">
            <img src="assets/post2.svg" alt="" class="">
        </div>
        <div class="hidden absolute opacity- bottom-72 -left-14 md:bloc">
            <img src="assets/lines.svg" alt="" class="">
        </div>
    </div>
</div>
<app-footer></app-footer>
